{% extends "base.html.j2" %}
{% import "macros.html.j2" as macros with context %}

{% block title %}
  All Plants - {{ super() }}
{% endblock %}

{% block content %}
  <h2>All Plants</h2>

  <table class="plants">
    {% for type in plants %}
      <tr>
        <th colspan="2" rowspan="2">{{ type.type }}</th>
        <th colspan="3">Seasons</th>
        <th rowspan="2">Harvest yield</th>
      </tr>
      <tr>
        <th>Grows</th>
        <th>Dies</th>
        <th>Loses fruit</th>
      </tr>

      {% for plant in type.plants %}
        <tr>
          <td>
            {{ plant.id|title }}
          </td>
          <td>
            {{ macros.plantsprite(plant.id) }}
          </td>
          <td class="seasons">
            {% for season in plant.growseason %}
              <div>{{ season }}</div>
            {% endfor %}
          </td>
          <td class="seasons">
            {% for season in plant.killseason %}
            <div>{{ season }}</div>
            {% endfor %}
          </td>
          <td class="seasons">
            {% for season in plant.loseseason %}
              <div>{{ season }}</div>
            {% endfor %}
          </td>
          <td>
            {% for produce in plant.harvestproduces if produce.type == "harvest" %}
              <div>{{ macros.itemamount(produce) }}</div>
            {% endfor %}

            {% for produce in plant.harvestproduces if produce.type == "fell" %}
              {% if loop.index == 1 %}
                <div class="subsection">When felling:</div>
              {% endif %}
              <div>{{ macros.itemamount(produce) }}</div>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
  </table>
{% endblock %}