.zoomed .cells {
  position: absolute;
  transform: translate(-50%, -50%) scale(2, 2) translate(50%, 50%);
}

.layout {
  display: inline-block;
  position: relative;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  vertical-align: text-bottom;
}

.cell, .layer {
  display: block;
  position: absolute;
}

{% for anim in sprite_anims %}
  @keyframes {{ anim.id() }} {
    {% for frame in anim.frames %}
      {{ (100 * loop.index0 / loop.length) | round(2) }}% {
        {% for prop, value in frame.items() %}
          {{ prop }}: {{ value }};
        {% endfor %}
      }
    {% endfor %}
  }
{% endfor %}

{% for rule in sprite_rules %}
  {% for selector in rule.selectors|sort %}
    {{ selector }}{% if not loop.last %},{% endif %}
  {% endfor %}
  {
    {% for prop, value in rule.props.items() %}
      {% if prop == "animation" %}
        animation: {{ rule.props["animation-name"].id() }} {{ value }};
      {% elif prop != "animation-name" %}
        {{ prop }}: {{ value }};
      {% endif %}
    {% endfor %}
  }
{% endfor %}
